<!DOCTYPE html>
<html>
<head>
<style>
body {
     background -color:lightblue;
}

h1  {
     color:black
     text-align: center ;
}

p  {
   front-family: verdana;
   front-size:20px;
}
</style>
</hea>
<body>

<h1>My first CSS page</h1>
<p>This is my fist pagaraph.</p>

</body>
</html>




























